<h2>Currently playing</h2>

<ul class="gamesList">
    <li class="gameCard" *ngFor="let game of playingGames$ |async">
      <app-my-game-card 
          [game]="game"
          [isOwned]="ownedService.isOwned(game)"
          [isCurrently]="ownedService.isCurrently(game)"
          [isPlayed]="ownedService.isPlayed(game)"
          (ownedChange)="onOwnedChange(game, $event)"
          (currentlyChange)="onCurrentlyChange(game, $event)"
          (playedChange)="onPlayedChange(game, $event)">
      </app-my-game-card>
    </li>
  </ul>