<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <div class="formContainer">
        <div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" />
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <small>Email is required and must be valid.</small>
            </div>
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" id="password" formControlName="password" />
            <!-- <div ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                <small>Password is required and must be at least 6 characters long.</small>
            </div> -->
        </div>
    </div>

    <div class="container">
        <button type="button" class="cancelbtn" (click)="goBack()">Cancel</button>
        <button type="submit" class="login" [disabled]="loginForm.invalid">Login</button>
    </div>

    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>
</form>