*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
}

.gameCardClickable{
  cursor: pointer;
}

.gameCardHeader{
  font-size: 24px;
  background-color: #70a0af;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.gameImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.gameCardInfo{
  margin: 20px;
  font-size: 18px;
}

.gameCardInfoPlatforms{
  font-weight: bold;
  color: #70a0af;
}

.gameCardLine{
  color: black;
  margin: 0px 20px 15px 20px;
}

.platformsIcon{ 
  float: left;
  margin-left: 20px;
}

.ownedIcon{
  float: right;
  margin-right: 15px;
  margin-bottom: 10px;
}