<div class="gameCardClickable" [routerLink]="['/detail', game.game_id]">
    <h2 class="gameCardHeader">{{game.name}}</h2>
    <img *ngIf="game.image" [src]="game.image" alt="{{ game.name }} Image" class="gameImage">
    <p class="gameCardInfo">
      Owned on platform:
      <span class="gameCardInfoPlatforms" *ngIf="ownedPlatforms.length > 0">{{ ownedPlatforms.join(', ') }}</span>
      <span class="gameCardInfoPlatforms" *ngIf="ownedPlatforms.length === 0">Not selected</span>
    </p>
    <hr class="gameCardLine">
</div>

<!-- <app-platform-options 
  class="platformsIcon"
  [platforms]="game.platform.split(', ')"
  [ownedPlatforms]="ownedPlatforms"
  (platformChange)="updateOwnedPlatforms($event)">
</app-platform-options> -->
  
<app-owned
    [game]="game"
    class="ownedIcon" 
    [isOwned]="isOwned" 
    [isCurrently]="isCurrently"
    [isPlayed]="isPlayed"
    (ownedChange)="onOwnedToggle()"
    (currentlyChange)="onCurrentlyToggle()"
    (playedChange)="onPlayedToggle()">
</app-owned>