*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
}

.gameCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ccc;
}

.gameCardClickable{
  cursor: pointer;
  flex-grow: 1;
  /* background-color: #706993; */
  /* background-color: #f4e8c1; */
}

.gameCardHeader{
  font-size: 24px;
  background-color: #70a0af;
  text-align: center;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}

.gameImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.gameCardInfo{
  margin: 20px;
  font-size: 18px;
}

.gameCardLine{
  color: black;
  margin: 0px 20px 15px 20px;
  border-top: 1px solid #70a0af;
}

.gameCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px 10px 20px;
}

.favoriteIcon{ 
  margin-left: 0;
}

.ownedIcon{
  float: right;
  margin-bottom: 10px;
}