<h1>My games</h1>

<a class="playedBtn" routerLink="/played-games"><span class="optionsButton bi bi-check2-circle"></span>Finished games</a>
<a class="currentlyBtn" routerLink="/currently-playing"><span class="optionsButton bi bi-controller"></span>Currently playing</a>

<ul class="gamesList">
  <li class="gameCard" *ngFor="let game of ownedGames">
    <app-my-game-card 
          [game]="game"
          [isOwned]="ownedService.isOwned(game)"
          (ownedChange)="onOwnedChange(game, $event)"
          >
    </app-my-game-card>
  </li>
</ul>

<!-- <router-outlet></router-outlet> -->

<!-- CHECKLIST -->
<!-- 
searchbar only search for the added games
categories like platforms, currently playing?
filter
 -->