<h1>My games</h1>

<mat-tab-group>
  <mat-tab class="test" label="All games">
    <ng-template matTabContent>
      <app-all-games></app-all-games>
    </ng-template>
  </mat-tab>
  <mat-tab label="Currently playing">
    <ng-template matTabContent>
      <app-currently-playing></app-currently-playing>
    </ng-template>
  </mat-tab>
  <mat-tab label="Finised games">
    <ng-template matTabContent>
      <app-played-games></app-played-games>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- <router-outlet></router-outlet> -->

<!-- CHECKLIST -->
<!-- 
searchbar only search for the added games
categories like platforms, currently playing?
filter
 -->