<h1>Games</h1>

<app-game-search (searchQuery)="onSearch($event)"></app-game-search>

<ul class="gamesList">
    <li class="gameCard" *ngFor="let game of games" >
        <app-game-card 
            [game]="game"
            [isFavorite]="favoriteService.isFavorite(game)"
            [isOwned]="ownedService.isOwned(game)"
            (favoriteChange)="onFavoriteChange(game, $event)"
            (ownedChange)="onOwnedChange(game, $event)"
            >
        </app-game-card>
        <!-- (onCurrentlyChange)="onCurrentlyChange(game, $event)" -->
    </li>
</ul>


<!-- 
maybe try to get/show certain games like new releases or another category
maybe make a load more button for more games
make it random which games are shown on the page
 -->