<!-- ICON FOR ADD OPTIONS -->
<div class="tooltip addToButton">
    <span class="tooltiptext">Add to list</span>
    <span 
        class="bi bi-plus-circle"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerRestoreFocus]="false">
    </span>
</div>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="addToMyGames(); $event.stopPropagation()">
        <span class="optionsButton bi bi-safe2"
        ></span>
        My games
        <span class="bi bi-circle" 
        [class.bi-check-circle-fill]="isOwned"
        [class.bi-circle]="!isOwned"
        ></span>
    </button>
    <button mat-menu-item (click)="addToCurrentlyPlaying(); $event.stopPropagation()">
        <span class="optionsButton bi bi-controller"></span>
        Currently playing
        <span class="bi bi-circle"
        [class.bi-check-circle-fill]="isCurrently"
        [class.bi-circle]="!isCurrently"></span>
    </button>
    <button mat-menu-item (click)="addToPlayedGames(); $event.stopPropagation()">
        <span class="optionsButton bi bi-check2-circle"></span>
        Played games
        <span class="bi bi-circle"
        [class.bi-check-circle-fill]="isPlayed"
        [class.bi-circle]="!isPlayed"></span>
    </button>



    <!-- <button mat-menu-item (click)="addToNewCollection()">
        <span class="optionsButton"></span>
        Add to new collection</button> -->
    <!-- <button mat-menu-item>
        <span class="optionsButton bi bi-safe"></span>
        test</button>
    <button mat-menu-item>
        <span class="optionsButton bi bi-piggy-bank"></span>
        test</button>
    <button mat-menu-item>
        <span class="optionsButton bi bi-box2-heart"></span>
        test</button> -->

    <!-- <button mat-menu-item (click)="addToNewCollection()">Add to new collection</button> -->
    <!-- <button mat-menu-item (click)="addToWishlist()">Add to Wishlist</button> -->
    <!-- <button mat-menu-item (click)="addToFavorites()">Add to Favorites</button> -->
</mat-menu>


<!--
change plus icon to checkmark like spotify?
 
-->
