<!-- ICON FOR ADD OPTIONS -->
<!-- <span 
    class="addToButton bi bi-plus-circle"
    [matMenuTriggerFor]="menu">
</span> -->

<div class="tooltip addToButton">
    <span class="tooltiptext">Add to list</span>
    <span 
        class="bi bi-plus-circle"
        [matMenuTriggerFor]="menu"
        [matMenuTriggerRestoreFocus]="false">
    </span>
</div>

<mat-menu #menu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item 
        (click)="addToMyGames(); $event.stopPropagation()"
        [class.bi-check-circle-fill]="isMyGamesAdded"
        [class.bi-circlel]="!isMyGamesAdded">
        <span class="optionsButton bi bi-safe2"></span>
        My games
        <span [ngClass]="{
            'bi-check-circle-fill': isMyGamesAdded,
            'bi-circle': !isMyGamesAdded}">
        </span>
    </button>
    <button mat-menu-item 
        (click)="addToCurrentlyPlaying(); $event.stopPropagation()"
        [class.bi-check-circle-fill]="isCurrentlyPlayingAdded"
        [class.bi-circle]="!isCurrentlyPlayingAdded">
        <span class="optionsButton bi bi-controller"></span>
        Currently playing
        <span [ngClass]="{
            'bi-check-circle-fill': isCurrentlyPlayingAdded,
            'bi-circle': !isCurrentlyPlayingAdded}">
        </span>
    </button>
    <button mat-menu-item 
        (click)="addToPlayedGames(); $event.stopPropagation()"
        [class.bi-check-circle-fill]="isPlayedGamesAdded"
        [class.bi-circle]="!isPlayedGamesAdded">
        <span class="optionsButton bi bi-check2-circle"></span>
        Played games
        <span [ngClass]="{
            'bi-check-circle-fill': isPlayedGamesAdded,
            'bi-circle': !isPlayedGamesAdded}">
        </span>
    </button>
    <!-- <button mat-menu-item (click)="addToNewCollection()">
        <span class="optionsButton"></span>
        Add to new collection</button> -->

    <!-- ICON TESTS -->
    <!-- <button mat-menu-item>
        <span class="optionsButton bi bi-safe"></span>
        test</button>
    <button mat-menu-item>
        <span class="optionsButton bi bi-piggy-bank"></span>
        test</button>
    <button mat-menu-item>
        <span class="optionsButton bi bi-box2-heart"></span>
        test</button> -->

    <!-- <button mat-menu-item (click)="addToNewCollection()">Add to new collection</button> -->
    <!-- <button mat-menu-item (click)="addToWishlist()">Add to Wishlist</button> -->
    <!-- <button mat-menu-item (click)="addToFavorites()">Add to Favorites</button> -->
  </mat-menu>


<!--
change plus icon to checkmark like spotify?
 
-->
