<div class="infoPage" *ngIf="game">
    <button class="previous" type="button" (click)="goBack()">&laquo; Previous</button>
    <h1>{{game.name}}</h1>
   
    <!-- <p [innerHTML]="game.description || 'No description available'"></p> -->
    <div class="grid">  
      <section class="saveOptions">
        <app-favorite class="wishlistButton"></app-favorite>
        <app-owned class="optionsButton"></app-owned>
      </section>
      <section class="img">
        <img *ngIf="game.image" [src]="game.image" alt="{{ game.name }} Image" class="gameImage">
      </section>
    
      <section class="description">
        <p>{{game.description}}</p>    
      <!-- @if(game.description) {
          <p>{{game.description}}</p>
      } -->
      </section>
      <section class="tags">
        <p>Genres: {{game.genres}}</p>
        <p>Game Modes: {{ game.modes ? game.modes : 'Unknown' }}</p>
        <p>Developer: {{game.developers}}</p>
        <p>Publisher: {{game.publishers}}</p>
        <p>platform: {{game.platform}}</p>
        <p>Released: {{ game.released | date: 'MMMM d, y' }}</p>
      </section>
    </div>
</div>


<!-- 
ADD THE BUTTONS FOR WISHLIST AND OWNED GAMES 
-->