*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  min-height: 100vh;
  font-size: 1.8rem;
  font-family: "Epilogue", sans-serif;
}

.infoPage{
  margin: 15px;
}

.previous{
  margin-top: 90px;
  background-color: #a0c1b9;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
}

.previous:hover{
  background-color: #70a0af;
  color: white;
  cursor: pointer;
}

h1{
  text-align: center;
  font-weight: 400;
  margin-top: 10px;
  font-size: 32px;
}

.gridContainer{
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.sectionHeader{
  font-size: 26px;
}

.saveOptions{
  margin-bottom: 20px;
  /* background-color: purple; */
}

.wishlistButton{
  margin-left: 20px;
}

.optionsButton{
  float: right;
  margin-right: 30px;
}

/* .tags{
  background-color: red;
} */

.gameImage{
  width: 100%; 
  max-width: 600px;
  height: auto;
  border-radius: 10px; 
  margin-bottom: 20px;
}

@media screen and (min-width: 800px){
  .gridContainer{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header1 header1 header1 header2"
      "main main main sidebar";
  }
  .img{
    grid-area: header1;
  }
  .saveOptions{
    grid-area: header2;
  }
  .description{
    grid-area: main;
    padding: 10px;
  }
  .tags{
    grid-area: sidebar;
    padding: 10px;
  }
}

@media screen and (min-width: 1200px){
  .gameImage{ 
    max-width: 800px;
  }
}

@media screen and (min-width: 1400px){
  .gameImage{ 
    max-width: 1000px;
  }
}